<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Here are some Web development projects done by me </h3>
    <ul>
        <li>Personal Portfolio using html,css,js</li>
        <li>Tic tac toe game using python</li>
        <li>BMI Calculator using JS</li>
    </ul>
    You can explore more projects on my gihub : <a href="http://github.com/sudipadk10" target="_blank">sudipadk10</a> <br>
    <a href="/"><button>Back to home</button></a>


</body>
</html>